---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Wer bin ich">
  <h1>About</h1>
  <p>AboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAbout</p>
  <p></p>

  <h2 id="skills"><p>AboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAbout</p></h2>
  <p>AboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAbout</p>
  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 my-8 sm:my-16"></div>
</Layout>
