---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Wer bin ich">
  <h1 id="who-am-i">About</h1>
  <p>AboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAbout</p>
  <p></p>

  <h2 id="skills"><p>AboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAbout</p></h2>
  <p>AboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAboutAbout</p>
  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 my-8 sm:my-16">
    <Card>
      <span slot="title">CSS</span>
      <div class="py-2">SASS</div>
      <div class="py-2">Bootstrap</div>
      <div class="py-2">Tailwind CSS</div>
    </Card>
    <Card>
      <span slot="title">JavaScript</span>
      <div class="py-2">Node.js</div>
      <div class="py-2">Vue.js</div>
      <div class="py-2">Astro</div>
    </Card>
    <Card>
      <span slot="title">PHP</span>
      <div class="py-2">Typo3</div>
      <div class="py-2">Symfony</div>
    </Card>
    <Card>
      <span slot="title">Datenbanken</span>
      <div class="py-2">MySQL</div>
      <div class="py-2">SQLite</div>
      <div class="py-2">MongoDB</div>
    </Card>
  </div>
</Layout>
