---
import { Icon } from "astro-icon";
import NavigationLink from "./NavigationLink.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/");
---

<NavigationLink title="home" url="" />
<NavigationLink title="About" url="about" />
<NavigationLink title="profile" url="uses" />

<!-- {
  currentPath[1] === "blog" && currentPath[2] ? (
    <a href="#toc" class="block md:hidden">
      <Icon name="mdi:toc" width="32" height="32" class="ml-2" />
    </a>
  ) : (
    ""
  )
} -->
