---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import NavigationMobile from "../components/NavigationMobile.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="font-mono bg-light dark:bg-dark text-dark dark:text-light">
    <main id="swup" class="relative">
      <div id="loader" class="open">
        <div class="loader_end"></div>
        <div class="loader_start">
          <svg xmlns="http://www.w3.org/2000/svg" width="100vw" height="100vh" class="parallax-cover_clip">
            <defs>
              <!-- マスク用の図形 -->
              <mask id="cross">
                <rect width="100%" height="100%" fill="#ffffff"></rect>
                <circle id="maskCircle" cx="50%" cy="50%" r="80" fill="#000"></circle>
              </mask>
            </defs>
            <!-- 切り抜き対象 -->
            <rect width="100vw" height="100vh" mask="url(#cross)" fill="#053A86"></rect>
          </svg>
          <div class="_transparent_circle"></div>
        </div>
      </div>
      <Header />
      <article class="swuptransition-fade text-lg md:text-2xl px-4 py-8">
        <slot />
      </article>
      <Footer />
      <NavigationMobile />
    </main>
    <script src="../js/app.js"></script>
  </body>
</html>
<style is:global>
  @import "../styles/base.css";
</style>
